<div style="width : 70% ; margin: 0 auto; margin-top: 10%">
    <mat-grid-list cols="4" rowHeight="200px" gutterSize="30px">
        <mat-grid-tile *ngFor="let group of groups" class="group-container">
           
            <mat-grid-list cols="1" routerLink="/groups/{{group.name}}">
                <div class="group-title">Group {{group.name}}</div>
                <div *ngFor="let team of group.teams" class="team-panel">
                    <img src={{team.flag_small}}>
                    <span> {{team.name}}
                        <small>({{team.code}})</small>
                    </span>
                </div>
            </mat-grid-list>
            
        </mat-grid-tile>
    </mat-grid-list>
</div>
 