table {
  border-radius: 15px;
  padding: 10px;
  padding-bottom: 10px;
  background-color: rgb(240, 240, 240);
}
thead {
  height: 34px;
}

td {
  border-bottom: 1px solid rgb(231, 231, 231);
}
th {
  font-size: 100%;
}

img {
  height: 25px;
}

input[type="text"] {
  border: 1px #999;
  border-radius: 5px;

  -webkit-appearance: none;
}

.result {
  line-height: 48px;
}
